.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal__content {
    padding: 10px;
    width: 600px;
    height: 350px;
    background: rgba(255, 255, 255, 1);
}